*
{
    margin: 0;
    padding: 0;
}
body
{
    background: linear-gradient(to top,#0A4D68,#088395,#05BFDB,#00FFCA);
    height: 100vh;
    overflow: hidden;
}
#calculator-body
{
    display: flex; 
    flex-direction: column;
    justify-content: end;    
    margin: 80px auto;
    border-radius: 10px;
    width: 300px;
    height: 470px;
    box-shadow: 0 0 20px black;
    background: rgb(27, 27, 27);
}
#calculator-screen
{
    width: 280px;
    height: 80px;
    margin: 0 auto 15px;
    background-color: rgb(67, 143, 67);
    border-radius: 10px;
    border: 3px rgb(53, 52, 52) solid;
    color: rgb(0, 56, 5);
    font-size: 22px;
    line-height: 85px;
    text-indent: 10px;
    overflow: hidden;
}
#calculator-buttons
{
 display: grid;
 grid-template-columns: repeat(4,minmax(50px,1fr));
 grid-template-rows: repeat(5, minmax(45px,1fr));
 gap: 5px;
 padding: 10px;
 
}
.calc-button 
{
    
    color: rgb(199, 70, 70);
    width: 51px;
    cursor: pointer;
    height: 51px;
    margin: 0 auto 5px;
     background-color: rgba(199, 70, 199, 0.336);
    border: none;
    border-radius: 100%;
    transition: all 100ms;
}
.calc-button:active
{
    width: 47px;
    height: 47px;
}
#clear
{
    background-color: rgba(119, 22, 27, 0.336);
}

 #equal
{
    grid-row: 4 / 6;
    grid-column: 4 / 5;
    height: unset;
    background-color: rgb(147, 180, 185);
}
#equals:active
{
    width: 47px;
    height: 103px;
}
.toggler-calc-theme-active
{
    color: #333;
}
.toggler-calc-theme-active::before
{
    color: #fff;
}